.releaseDogInfoBox {
  padding: 10px 0;
  flex: 1;
  border-radius: 9px 5px;
  background: #2d2e2f;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}
.PetBoxpetIcon {
  fill: #ce6816 !important;
  font-size: 2rem !important;
}
.dogBoxNameHeader {
  padding: 4px 0;
  display: flex;
  margin-bottom: 1rem;
  gap: 0.6rem;
  justify-content: space-between;
  border-bottom: 0.3px solid rgba(128, 128, 128, 0.199);
  align-items: center;
}
.releaseDogInfoBox {
  padding: 8px;
}
.petAdoptionBoxInfoRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
}
.petAdoptionBoxInfoRow span {
  color: #f37b1a;
}
.petAdoptionBoxInfoRow p {
  color: rgb(170, 170, 170);
}
.listedHour {
  color: rgb(170, 170, 170) !important;
  font-size: 14px;
}
.dogBoxName {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  text-transform: capitalize;
}
.secondaryIcon {
  font-size: 1.6rem !important;
}
.secondaryButtonBox {
  display: flex;
  align-items: center;
  gap: 10px;
}
